/*error class*/
.has-error {
    border: 1px solid #a94442;
}
/*error class for submit button*/
input[type="submit"].has-error{
    cursor: not-allowed;
    border: 0;
}
/*success class*/
.has-success {
    border: 1px solid #3c763d;
}