
body {
    font-family: "Raleway", sans-serif;
    margin-bottom: 50px;
}

code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 9px 14px;
    display: block;
}
form,h3{
    padding-bottom: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.container-inner {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

input[type=submit]:not(:disabled) {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:disabled {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
.header{
    text-align: center;
    padding-bottom: 20px;
}
